.App {
  display: flex;
  justify-content: center;
}
.items-li {
  list-style-type: none;
}
.task-name {
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 18px;
}
.task-name:focus {
  border: 3px solid #555;
}
.btn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: #555555;
  color: white;
}
.title-block {
  display: flex;
  justify-content: center;
}
.title-task {
  font-size: 23px;
}
